<% include header %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/img2.jpg" width="1250px" height="400px" class="d-block w-100" alt="">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>We Are Better Than Others</h1>
          <p>
            First, we invented the best system for learning to code.
            Seven years and 45 million learners later, we've perfected it.</p>
        </div>
      </div>
    </div>

  </div>

</div>
<section class="jumbotron text-center">
  <div class="container">
    <h2>Meet Our Best Proffessor's!</h2>
  </div>
</section>
<div class="container my-4">
  <div class="row ">
    <div class="col-lg-4 expert-image text-center">
      <img src="images/JOHN.jpg" class="bd-placeholder-img aboutim1" alt="">
      <h2>JOHN CARMACK</h2>
      <p>John D. Carmack II[3] (born August 20, 1970) is an American computer programmer, video game developer and
        engineer. He co-founded the video game company id Software and was the lead programmer of its games Commander
        Keen, Wolfenstein 3D, Doom and Quake and their sequels</p>
      <p><a class="btn btn-secondary" href="https://www.improgrammer.net/greatest-programmers-in-the-world-2016/"
          role="button">View details »</a>
      </p>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4 expert-image text-center ">
      <img src="images/KEN.jpg" class="bd-placeholder-img aboutim1" alt="">
      <h2>KEN THOMPSON </h2>
      <p>Kenneth Lane Thompson (born February 4, 1943) is an American pioneer of computer science. Thompson worked at
        Bell Labs for most of his career where he designed and implemented the original Unix operating system. He also
        invented the B programming language, the direct predecessor to the C programming language
      </p>
      <p><a class="btn btn-secondary" href="https://www.improgrammer.net/greatest-programmers-in-the-world-2016/"
          role="button">View details »</a>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 expert-image text-center">
      <img src="images/LINUS.jpg" id="" class="bd-placeholder-img aboutim1" alt="">
      <h2>LINUS TORVALDS</h2>
      <p>In 1991, while studying computer science at University of Helsinki, Linus Torvalds began a project that later
        became the Linux kernel. He wrote the program specifically for the hardware he was using and independent of an
        operating system because he wanted to use the functions of his new PC with an 80386 processor.</p>
      <p><a class="btn btn-secondary" href="https://www.improgrammer.net/greatest-programmers-in-the-world-2016/"
          role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->

  </div>


  <div class="row my-4 ">
    <div class="col-lg-4 expert-image text-center">
      <img src="images/JAMES.jpe" class="bd-placeholder-img aboutim1" alt="">
      <h2>JAMES GOSLING</h2>
      <p>James Gosling on Apple, Apache, Android & the Future of JAVA. He is a Canadian computer scientist and also
        known as the father of the Java programming language. He is listed as most popular programmers in the world. He
        spends his lot of time on the development of the Java Programming Language</p>
      <p><a class="btn btn-secondary" href="https://www.improgrammer.net/greatest-programmers-in-the-world-2016/"
          role="button">View details »</a>
      </p>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4 expert-image text-center ">
      <img src="images/JACK.jpg" class="bd-placeholder-img aboutim1" alt="">
      <h2>JACK DORSEY </h2>
      <p>He is known as a co-founder and CEO of Twitter and as the founder and CEO of Square, a mobile payments company.
        And also founder and CEO of Square, a mobile payments company.We started this site to inspire young minds to
        motivate and encourage them towards Programming Language.
      </p>
      <p><a class="btn btn-secondary" href="https://www.improgrammer.net/greatest-programmers-in-the-world-2016/"
          role="button">View details »</a>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 expert-image text-center">
      <img src="images/NIKLAUS.jpg" id="" class="bd-placeholder-img aboutim1" alt="">
      <h2>NIKLAUS WIRTH</h2>
      <p>Niklaus Emil Wirth is a Swiss computer scientist. He has designed several programming languages, including
        Pascal, and pioneered several classic topics in software engineering. He was a major part of the design and
        implementation team for the Lilith and Oberon operating systems.</p>
      <p><a class="btn btn-secondary" href="https://www.improgrammer.net/greatest-programmers-in-the-world-2016/"
          role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->





  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<% include footer %>