<% include adminheader %>
<div class="container  my-4">
  <section>
    <form method="post" action="" enctype="multipart/form-data">
      <h5 style="color: #D8000C; background-color: #FFBABA;"><%= msg %></h5>
      <div class="form-group">
        <label>Tiltle</label>
        <input type="text" class="form-control" name="Title" placeholder="Enter Title Here" />
      </div>

      <div class="form-group">
        <label>Updated By</label>
        <input type="text" class="form-control" name="ubname" placeholder="Updated By" />
      </div>

      <div class="form-group">
        <label>Date</label>
        <input type="date" name="bdate" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputfile2">Date</label>
        <input type="file" name="file3" class="form-control" id="exampleInputfile2">
      </div>

      <div class="form-group">
        <label>Article</label>
        <textarea name="text" name="barticle" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Blog</button>
      </div>

    </form>
  </section>
</div>
<% include script%>
<% include footer %>