<% include adminheader %>
<div class="container  my-4">
  <section>
    <form method="post" action="" enctype="multipart/form-data">
      <h5 style="color: #D8000C; background-color: #FFBABA;"><%= msg %></h5>
      <div class="form-group">
        <label>Image</label>
        <input type="file" name="galaryimg" class="form-control" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Galary</button>
      </div>

    </form>
  </section>
</div>
<% include script%>
<% include footer %>