<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link href="images/iclogo3.png" rel="icon" />
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <title>iCoder - Heaven for Programmers</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">iCoder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin">Admin Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/blog">Add Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/addgalary">Add Galary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/addevents">Add Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/addcourses">Add Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/course_Details">Course Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/add_index">Add Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manageuser">Manage User</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <div class="mx-2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href=""><i style=" font-size: 16px;
              color: white;" class="fa fa-user" aria-hidden="true">&nbsp;<%= sunm %></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/setting"><i style="padding-right:10px; font-size: 16px;
              color: white;" class="fa fa-cog" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/admin/logout" style="color: white;">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>