<% include header %>
<div class="container my-4">
  <h2>Contact Us</h2>
  <form method="post" action="">
    <div class="form-group">
      <label for="exampleFormControlInput1">name</label>
      <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
        placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Mobile no</label>
      <input type="text" name="mobile" class="form-control" id="exampleFormControlInput1"
        placeholder="Enter Mobile Number">
    </div>
    <div class="form-group">
      <label>Course Name</label>
      <select name="courseList" style="width:70%">
        <option>Select CourseName</option>
        <% for(let row of courseList) { %>
        <option> <%= row.coursenm %></option>
        <% } %>
      </select>
      </td>
      </tr>
    </div>
    <div class="form-group">

      <label for="exampleInputGender1">Are you:</label>
      <br><br>
      Member <input type="radio" name="are_you" value="member" />
      <br><br>
      proffessor <input type="radio" name="are_you" value="proffessor" />
      <br><br>
      Coder <input type="radio" name="are_you" value="coder" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Tell us about yourself</label>
      <textarea class="form-control" name="about" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea2">Elaborate Your Concern</label>
      <textarea class="form-control" name="concern" id="exampleFormControlTextarea2" rows="3"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>

</div>

<% include script%>
<% include footer %>