<% include header%>
<div class="jumbotron" style="margin:50px 235px;">
  <h1>Find Your Account</h1>
  <hr class="my-2">
  <p>Please enter your email address or phone number to search for your account..</p>
  <form method="post" action="">
    <div class="form-group">
      <label>Enter your Email</label>
      <input type="text" class="form-control" name="femail" placeholder="Enter your Email" />
    </div>
    <p style="font-size: 20px;
    font-weight: 400;
    color: red;
    background: whitesmoke;"><%=msg%></p>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

</div>
<% include script%>
<% include footer %>