<%include userheader%>


<!-- Grid row -->

<div class="gallery mt-4" id="gallery">
  <!-- Grid column -->
  <%for(row of result) { %>
  <div class="mb-3 pics animation all 2">
    <a href="../images/galary/<%=row.galaryimg %>" target="_blank"> <img class="img-fluid"
        src="../images/galary/<%=row.galaryimg%>" alt="Card image cap"></a>
  </div>
  <% } %>
  <!-- Grid column -->
</div>

<!-- Grid row -->
<%include script%>