<% include userheader %>
<h1> welcome to iCoder user page</h1>
<div class="containr my-4">
  <div class="card-1 mb-4">
    <img class="card-img-top" src="https://source.unsplash.com/870x445/?nature,water" alt="Card image cap">
    <div class=".card-body-1">
      <h2 class="card-title">Post Title</h2>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
        Quos
        cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam
        magni
        quis!</p>
      <a href="#" class="btn btn-primary">Read More →</a>
    </div>
    <div class="card-footer text-muted">
      Posted on January 1, 2020 by
      <a href="#">Start Bootstrap</a>
    </div>
  </div>
</div>
<% include footer%>